* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: #f5eee7;
  /* border: 10px solid black; */
}
#ptext {
  position: absolute;
  top: 20%;
  left: 6%;
}
#sumtext {
  position: absolute;
  top: 20%;
  right: 42%;
}

#tag {
  position: absolute;
  top: 6%;
  left: 25%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#tag>h1,h3{
    font-weight: 500;
    line-height: 33px;
}
#main2 {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.main2p {
  height: 67%;
  width: 43%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-top: 110px;
}
#payment {
}
#paypal {
  height: 30px;
  font-size: 24px;
  margin-top: 9px;
}
#pay{
    font-size: 30px;
    color: #081d4d;
}
#pal{
    font-size: 30px;
    color: #0d73e8;
}
#paypal input {
  margin-left: 30px;
  margin-right: 5px;
}
#imgs {
  display: flex;
  gap: 150px;
  margin-bottom: 7px;
}
#card input {
  margin-left: 30px;
}
#card span {
  margin-left: 5px;
  font-size: 23px;
}
#img img {
  height: 40px;
  width: 150px;
}
#cdno {
  margin-left: 30px;
}
#cdbox {
  height: 40px;
  width: 95%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 2px solid #f0decc;
  margin-top: 7px;
}
#cdbox i {
  font-size: 20px;
  margin-left: 15px;
}
#cdbox input {
  margin-left: -3px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  padding: 9px;
  outline: none;
}
#edcvv {
  display: flex;
  gap: 20px;
  margin-left: 30px;
}
#cvvq {
  display: flex;
  gap: 2px;
}

#edatebox {
  display: flex;
  height: 40px;
  width: 230px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #f0decc;
  border-radius: 8px;
  margin-top: 5px;
}
#edatebox input {
  background-color: transparent;
  border: none;
  font-size: 19px;
  padding-top: 10px;
  outline: none;
  margin-left: 17px;
}
#edatebox i {
  margin-left: 17px;
  font-size: 18px;
  margin-top: 10px;
}
#cvvbox {
  display: flex;
  height: 40px;
  width: 230px;
  background-color: rgb(255, 255, 255);
  margin-top: 7px;
  border: 2px solid #f0decc;
  border-radius: 8px;
}
#cvvbox input {
  background-color: transparent;
  border: none;
  font-size: 28px;
  padding-top: 2px;
  outline: none;
  margin-left: 13px;
}
#cvvbox i {
  margin-left: 17px;
  margin-top: 10px;
  font-size: 19px;
}
#pbtext {
  margin-left: 30px;
}
#summary {
    position: relative;
    /* height: 100%;
    width: 50%; */
}
#summary1 {
    padding: 3% 4%;
    top: 0%;
    right: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#pro {
    padding: 3% 0%;
    display: flex;
    width: 100%;
    height: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    justify-content: space-between;
}

#textpro>h3 {
    font-size: 25px;
}

#textpro>a {
    font-size: 15px;

}

#money1 {
    display: flex;

}

#money1>h4 {
    font-size: 20px;
    padding: 4% 0%;
}

#money1>p {
    font-size: 15px;
    padding: 13% 0%;
}

#referal {
    border-bottom: 1px solid rgba(0, 0, 0, 0.154);
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: space-between;
}

#ref {
    padding: 1% 0%;
}

#money2 {
    padding: 1% 0%;
}

#today {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 25%;
}

#t2 {
    padding: 4% 0%;
}

#money3 {
    padding: 4% 0%;
}

#t2>h5 {
    color: rgba(0, 0, 0, 0.377);
}

#butt {
    position: relative;
    width: 100%;
    height: 25%;
}

#butt>button {
    position: absolute;
    top: 10%;
    padding: 3%;
    width: 100%;
    border-radius: 30px;
    background-color: #2153CC;
    color: #fff;
    letter-spacing: 1px;
}

#butt>a {
    position: absolute;
    left: 30%;
    top: 80%;
}